<!-- Footer -->
        <div id="footer-container">
        
            <div id="footer">
                <div class="container">
                
                	<div class="center">
                        <div>
                        	<span class="footer-email"><a href="mailto:info@studionudge.com">info@studionudge.com</a></span><span class="social-wrap"><a class="social" href="https://www.facebook.com/StudioNudge" target="_blank"><span class="ss-icon">&#xF610;</span></a> <a class="social" href="https://twitter.com/StudioNudge" target="_blank"><span class="ss-icon">&#xF611;</span></a> <a class="social" href="http://studionudge.tumblr.com/" target="_blank"><span class="ss-icon">&#xF620;</span></a> <a class="social" href="http://dribbble.com/StudioNudge" target="_blank"><span class="ss-icon">&#xF660;</span></a></span><span class="footer-phone">+1 (843) 636.3827</span>
                        <p class="copyright">&copy; 2014 Nudge. All Rights Reserved.</p></div>
                    </div>
                    
                </div>
            </div>
            
    	</div><!-- END Footer -->
        
	</div><!-- END Page Wrapper -->

</div>
<!-- Google Analytics -->	 
<script>

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22136917-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  
</body>
</html>