<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Nudge | Charleston SC Graphic &amp; Web Design Studio</title>
	
	<meta name="description" content="Nudge is a creative design studio based in Charleston, SC.  We offer branding, web design, graphic design, illustration, and packaging.">
    <meta name="keywords" content="web design, graphic design, identity, branding, logo design, website design, packaging, illustration, print design, creative, charleston, sc" />
	<meta name="robots" content="follow, all" />
    <meta name="author" content="Nudge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
	
	<!-- CSS -->
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/grid.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/webfonts/ss-social.css">
    
     <!--[if IE]>
        <style>
        .fade {opacity:1;}
        #hover {diplay:none;}
        </style>
    <![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    
	<!-- Typekit -->
	<script type="text/javascript" src="//use.typekit.net/hgp1bjc.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="{{ site.baseurl }}/js/modernizr.custom.89601.js"></script>
	<script>
		// Wait for window load
		$(window).load(function() {
			// Animate loader off screen
			$("#loading").fadeOut(1000);
		});
	</script>
    
</head>
